/*custom variables*/
:root {
    --ff-sans: 'Smooch Sans', sans-serif;

    --color-light: beige;
    --color-mid: #fff983;
    --color-dark: #9dcdc0;
    --color-congrats: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 0;
    height: 100vh;
    font-family: var(--ff-sans);
    background-color: var(--color-dark);
}

/*sound button*/
#soundOff {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background-image: url(./images/sound-on.svg);
    background-color: transparent;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#soundOff[sound-off="true"] {
    background-image: url(./images/sound-off.svg);
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
    font-size: 3.5rem;
    word-spacing: 0.9rem;
}

h3 {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    word-spacing: 0.3rem;
}

#congratulations {
    align-self: center;
    margin-bottom: 1rem;
    color: var(--color-congrats);
    font-size: 1.5rem;
    font-weight: 700;
    word-spacing: 0.3rem;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 10px;
    width: 450px;
    height: 340px;
    padding: 10px;
    background-color: var(--color-light);
    border-radius: 5px;
    transform: scale(1);
}

img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
}

img:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.wrapper {
    align-self: center;
    text-align: center;
    margin-top: 1.3rem;
    background-color: var(--color-light); 
    border: solid 10px var(--color-light);
    border-radius: 5px;
    transform: scale(1);
}

#newGame {
    width: auto;
    padding: 0.1rem 0.4rem;
    font-family: var(--ff-sans);
    font-size: 1.2rem;
    font-weight: 600;
    word-spacing: 0.2rem;
    background-color: var(--color-mid);
    border: 5px solid var(--color-mid);
    border-radius: 5px;
    cursor: pointer;
}

#newGame:active {
    transform: scale(0.955);
    transition: transform 0.2s;
}


@media (max-width: 35em) {
    #grid {
        grid-template-columns: repeat(3, 1fr);
        width: 340px;
        height: 460px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h3 {
        margin-top: 0.3rem;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }
}
